@import '../../sass/variables.scss';
.form
{
   @include flex(column);
   align-items: center;
    justify-content: $justifyContent;
    border: 2px solid $borderColor;
    margin-top:$marginExtraTop;
    border-radius: $borderRadius;
    .head
    {
        margin-top: $marginTop;
        margin-bottom: $marginBtm;
        font-size: $fontSize;
    }
    input{
        height: $height;
        width: 50%;
        border-radius: $borderRadius;
        margin-bottom:$marginBtm;
        outline:$outline;
    }
    label
    {
        color:$labelColor;
        font-weight: $fontWeight;
        font-size: $fontSize;
    }
    .btn{
        text-align:center;
        height: $height;
        width: 30%;
        font-size:$fontSize;
        background-color:$bgColor;
    }
}