@import "../../sass/variables.scss";
.login-form {
    @include flex(row);
    justify-content: center;
    .form {
        @include flex(column);
        border: 2px solid $border-color;
        background-color: #757575;
        margin-top: $margin-extratop;
        border-radius: $border-radius;
        .head {
            margin-top: $margin-top;
            margin-bottom: $margin-bottom;
            font-size: $font-size-extra-large;
            margin-left: $margin-left;
            color:$secondary-color;
        }
    }
}
