@import '../../sass/variables.scss';
.publishersList{
      .loading
      {
          @include flex(row);
          margin-top: $margin-top;
          font-size:$font-size;
          font-weight: $font-weight;
          justify-content: $justify-content;
      }
}