@import '../../sass/variables.scss';

.publisherHeader
{
    @include flex(row);
    justify-content: space-between;
    padding: $padding;
    .title{
        font-size:$font-size;
        font-weight:$font-weight;
    }
    .publisherHeaderRight{
        @include flex(row);
        align-items:$align-items-baseline;
        margin-right: $margin-right;
        .loginUser
        {
            font-size:$font-size;
            font-weight:$font-weight;
            margin-right: $margin-right;
        }
        .create
        {
            text-decoration: $text-decoration;
        }
        .buttonTag
        {
            margin-right: $margin-right;
            .btn
            {
                color: $secondary-color;
                background-color:$button-backgroundcolor;
            }
        }
        

    }
}   