@import '../../sass/variables.scss';

.publisherHeader
{
    @include flex(row);
    justify-content: space-between;
    padding: $padding;
    .title{
        font-size:$fontSize;
        font-weight:$fontWeight;
    }
    .publisherHeaderRight{
        @include flex(row);
        justify-content: space-between;
        .createBtn
        {
            color: white;
            margin-right:$marginRight;
            padding:10px;
            background-color:blue;
            border-radius: $borderRadius;
        }
    }
}