@import '../../sass/variables.scss';
.publisherForm
{
   @include flex(column);
   justify-content:$justifyContent;
    width:$inpWidth;
    margin: auto;
    margin-top:$marginTop;
    input{
        height: $inpHeight;
        margin-bottom:$marginBtm;
        outline:$outline;
        border-radius: $borderRadius;
    }
    label
    {
        color:$labelColor;
        font-weight: $fontWeight;
        font-size: $fontSize;
    }
    .btn{
        margin-top: $marginTop;
        height:$btnHeight ;
        width:$btnWidth;
        border-radius: $borderRadius;
        align-items:$alignItems;
        font-size:$btnFontSize;
        background-color:$btnBgColor;
    }
    .dropwdown
    {
        @include flex(row);
        justify-content: space-evenly;
    }
    .dropdown-select
    {
        width: 20%;
        margin-left:$marginExtraTop;
        border-radius: $borderRadius;
        height: $inpHeight;
        color: $textColor;
        font-size: $fontSize;
        background-color:lightgray;
    }
}