@import '../../sass/variables.scss';
.detailsEdit
{
    @include flex(row);
    justify-content: flex-end;
    margin-top:$marginTop;
    margin-right: 150px;
    button{
        background-color:orange;
        border-radius: $borderRadius;
        color:$textColor;
        outline: $outline;
    }
}
.loading
{
    @include flex(row);
    font-size: 1.5em;
    font-weight: $fontWeight;
    justify-content: $justifyContent;
}

.publisherForm
{
   @include flex(column);
   justify-content:$justifyContent;
    width:$inpWidth;
    margin: auto;
    margin-top:$marginTop;
    input{
        height: $inpHeight;
        margin-bottom:$marginBtm;
        outline:$outline;
        border-radius: $borderRadius;
    }
    label
    {
        color:$labelColor;
        font-weight: $fontWeight;
        font-size: $fontSize;
    }
    .btn{
        margin-top: $marginTop;
        height:$btnHeight ;
        width:$btnWidth;
        border-radius: $borderRadius;
        align-items:$alignItems;
        font-size:$btnFontSize;
        background-color:$btnBgColor;
    }
    .error
    {
        color:orangered;
    }
    .dropdown
    {
        @include flex(row);
        justify-content: space-around;
    }
    .dropdown-select
    {
        width: 20%;
        margin-left:$marginExtraTop;
        outline: $outline;
        border-radius: $borderRadius;
        height: $inpHeight;
        color: $textColor;
        font-size: $fontSize;
        background-color:lightyellow;
    }
}