@import '../../sass/variables.scss';
.publisherSearch
{
    @include flex(row);
    justify-content: space-between;
    align-items: $alignItems;
    .search
    {
        font-size: $fontSize;
        margin-left:$marginLeft;
    }
     input{
        width:$btnWidth;
        height: $inpHeight;
        margin-right: $marginRight;
        border-radius: $borderRadius;
        outline: $outline;
     }
    .dropdown-select
    {
        width: $dropDownWidth;
        margin-left:$marginExtraTop;
        border-radius: $borderRadius;
        height: $inpHeight;
        color: $textColor;
        outline: $outline;
        background-color:lightyellow;
    }
    .dropdown-assigned
    {
        width:$dropDownWidth;
        margin-left:$marginExtraTop;
        border-radius: $borderRadius;
        height: $inpHeight;
        color: $textColor;
        outline: $outline;
        background-color:lightyellow;
    }
}