@import '../../sass/variables.scss';
.publisherSearch
{
    @include flex(row);
    justify-content:center;
    // align-items: center;
     .searchFilter{
        width:$input-width;
        height: $input-height;
        margin-right: $margin-right;
        margin-left: $margin-left;
        border-radius: $border-radius;
        outline: $outline;
     }
}