.section{
    table{
        width: 98%;
        margin:10px;
        // margin-left: 10px;
        // margin-right: 10px;
    }
    table, th ,tr{
        border:1px solid #dddddd;
        border-collapse: collapse;
        padding: 15px;
        background-color: white;
      }
      td{
          padding: 10px;
         text-align: center;
      }
}